<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.yunoa.mapper.OaProcessTemplateMapper">

    <resultMap id="BaseResultMap" type="com.wy.yunoa.model.domain.OaProcessTemplate">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="iconUrl" column="icon_url" jdbcType="VARCHAR"/>
            <result property="processTypeId" column="process_type_id" jdbcType="VARCHAR"/>
            <result property="formProps" column="form_props" jdbcType="VARCHAR"/>
            <result property="formOptions" column="form_options" jdbcType="VARCHAR"/>
            <result property="processDefinitionKey" column="process_definition_key" jdbcType="VARCHAR"/>
            <result property="processDefinitionPath" column="process_definition_path" jdbcType="VARCHAR"/>
            <result property="processModelId" column="process_model_id" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,icon_url,
        process_type_id,form_props,form_options,
        process_definition_key,process_definition_path,process_model_id,
        description,status,create_time,
        update_time,is_deleted
    </sql>
</mapper>
