<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.yunoa.mapper.OaProcessRecordMapper">

    <resultMap id="BaseResultMap" type="com.wy.yunoa.model.domain.OaProcessRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="processId" column="process_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="operateUserId" column="operate_user_id" jdbcType="BIGINT"/>
            <result property="operateUser" column="operate_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,process_id,description,
        status,operate_user_id,operate_user,
        create_time,update_time,is_deleted
    </sql>
</mapper>
